* {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
}

img {
    width: 25%;
    margin: 12px 12px 12px 12px;
}