<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Input Data using Form </title>
</head>
<body>
    <div class="container">
        <form action="">
            <label for="idName"> First Name: </label>
            <input type="text" id="idName" name="firstName">
            <input type="submit" value="Send" onclick="show()">
        </form>
    </div>

    <script async defer src="../scripts/script-forms-lesson.js"></script>
</body>
</html>