<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/style.css" media="screen">

    <title> Personal Summary </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1> Welcome to my Personal Summary Professional </h1> <br>
    </header>

    <div class="container">
        <div class="primary">
            <div id="title-show">
                <h2> My name is Carlos Souza, and I'm a Software Developer Engineer </h2>
                <h2> I study and work with Node.js and Python for Data Analysis and Web </h2> <br>
            </div>
        
            <div id="skills">
                <h2> <u> Hard Skills: Node.js | Python | JS | TS | etc ... </u> </h2> <br>
                <h2> <u> Soft Skills: Group Work | Leadership | Commitment </u> </h2>
            </div>
        
            <div id="personal-things">
                <h2> Any curious about me (in pt-br): </h2> <br>
                <p> Acadêmico: Cursando Eng. de Software </p>
                <p> Trabalha: Ainda não </p>
                <p> Hobbies: Games & Mangás </p>
                <p> Música Favorita: Curto Lo-Fi </p>
            </div>
        
            <img src="../images/imagem01.jpg"/>
            <img src="../frontend/assets/img02-data-science.jpg" />
            <img src="../images/imagem02.jpg"/>
        
            <p> <a href="../index.html"> Click to return Menu </a> </p>
        </div>
    </div>
</body>
</html>
