<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/style-lesson.css" media="screen">

    <title> Personal Summary </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1> IFAM-CMZL | Desenvolvimento Web | @CarlosViniMSouza </h1> <br>
    </header>

    <div class="container">
        <div class="primary">
            <h2> I'm Carlos Souza, a Software Developer </h2>
            <p> I study and work with Node.js and Python for Data Analysis and Web </p>
            <p> <u> Hard Skills: Python | Node.js | JS & TS | Flutter | etc ... </u> </p>
            <p> <u> Soft Skills: Group Work | Leadership | Commitment </u> </p>

            <div class="activity-num01">
                <div>
                    <!-- Audio -->
                    <div>
                        <audio controls>
                            <source src="../audio/audio-poesia.aac" type="audio/aac">
                            Audio uploaded
                        </audio>
                    </div>

                    <!-- Video -->
                    <div>
                        <video width="320" height="240" controls>
                            <source src="../videos/videoplayback.mp4" type="video/mp4">
                            Video uploaded
                        </video>
                    </div>
                </div>

                <!-- Image -->
                <div id="img-activity">
                    <div>
                        <img width="280" height="275" src="../images/CarlosViniciusMonteiroDeSouza.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p> Av. Cosme Ferreira, 8045 - São José dos Operários, Manaus - AM, 69083-000 </p>
    </footer>
</body>
</html>
