* {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: darkcyan;
    color: white
}

h1 {
    text-transform: uppercase;
}

img {
    width: 20%;
    font-weight: 100px;
    margin: 24px 12px 24px 12px;
}

#title-show {
    margin-top: 24px;
}

#skills {
    margin-top: 24px;
}

#personal-things {
    margin-top: 24px;
    border: 2px solid burlywood;
    border-style: dashed;
    border-radius: 4px;
    width: 40%;
}